# practice for mess codes
practice
# uncompressed resources
courses/vue3ts/uncompressed
courses/reactAntD/uncompressed

# node_modules
**/node_modules

# .vscode
**/.vscode

# some files are not able to git well
'./courses/code-for-project/07-01.VueCLI 的使用和单文件组件/'
