@font-face {
  font-family: 'iconfont';  /* Project id 2519427 */
  src: url('//at.alicdn.com/t/font_2519427_6ldnc2wof3.woff2?t=1620097055426') format('woff2'),
       url('//at.alicdn.com/t/font_2519427_6ldnc2wof3.woff?t=1620097055426') format('woff'),
       url('//at.alicdn.com/t/font_2519427_6ldnc2wof3.ttf?t=1620097055426') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}